.card__container {
  width: 12.25rem;
  height: 19.75rem;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 50px;
  background: #ececec;
}

.card__image {
  margin: 1.4rem auto 1rem;
  padding: 0.5rem;
  width: 8rem;
  height: 8rem;
  background: #f0f0f3;
  box-shadow: 0.25rem 0.094rem 1rem -0.219rem #0000001a;
  border-radius: 50%;
  object-fit: cover;
}

.card__image img {
  width: 100%;
}

.card__content {
  text-align: center;
}

.card__name h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.card__stats-type {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  margin-right: 0.5rem;
  background: #ffffffbb;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

/* Types Colors */
.normal {
  background-color: #f4f4f4;
}

.fighting {
  background-color: #d76b6b;
}

.flying {
  background-color: #d0e1f2;
}

.poison {
  background-color: #98d1a3;
}

.ground {
  background-color: #c69e6e;
}

.rock {
  background-color: #a8a8a8;
}

.bug {
  background-color: #99b27b;
}

.psychic {
  background-color: #d3a3d3;
}
.ghost {
  background-color: #95a5c2;
}

.steel {
  background-color: #a8c9d0;
}

.fire {
  background-color: #f6b26b;
}

.water {
  background-color: #8ac4ff;
}

.grass {
  background-color: #8ac257;
}

.electric {
  background-color: #e1f598;
}

.ice {
  background-color: #c2f0f9;
}

.dragon {
  background-color: #a06a7f;
}

.dark {
  background-color: #757575;
}

.fairy {
  background-color: #f8d1d1;
}

.unknown {
  background-color: #b3b3b3;
}

.shadow {
  background-color: #606060;
}
