* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-normal: #f4f4f4;
  --color-fighting: #d76b6b;
  --color-flying: #d0e1f2;
  --color-poison: #98d1a3;
  --color-ground: #c69e6e;
  --color-rock: #a8a8a8;
  --color-bug: #99b27b;
  --color-psychic: #d3a3d3;
  --color-ghost: #95a5c2;
  --color-steel: #a8c9d0;
  --color-fire: #f6b26b;
  --color-water: #8ac4ff;
  --color-grass: #8ac257;
  --color-electric: #e1f598;
  --color-ice: #c2f0f9;
  --color-dragon: #a06a7f;
  --color-dark: #757575;
  --color-fairy: #f8d1d1;
  --color-unknown: #b3b3b3;
  --color-shadow: #606060;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
